<!DOCTYPE html>
<html class="no-js" ng-app="bodyFatCalculator">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Body Fat Calculator: U.S. Navy Formula</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css" />

        <script src="node_modules/angular/angular.js"></script>
        <script src="bodyfat.js"></script>
    </head>
    <body ng-controller="BodyFatController as bfc">
        <div class="container" id="calculator">

            <h1>Body Fat Calculator <small>(U.S. Navy Formula)</small></h1>

            <hr>

            <form class="">
                <div class="clearfix form-group form-group-lg row">
                    <label class="col-sm-12 control-label" for="height">Height:</label>
                    <div class="col-sm-8">
                        <input
                            class="form-control"
                            min="0"
                            name="height"
                            ng-model="bfc.height"
                            placeholder="0"
                            tabindex="1"
                            type="number"
                            />
                    </div>
                    <div class="col-sm-4">
                        <select
                            class="form-control"
                            name="heightSelect"
                            ng-model="bfc.heightSelect"
                            ng-options="selectOpt for selectOpt in bfc.selectOpts"
                            tabindex="2"
                        ></select>
                    </div>
                </div>
                <div class="clearfix form-group form-group-lg row">
                    <label class="col-sm-12 control-label" for="circumferenceWaist">Circumference (Waist):</label>
                    <div class="col-sm-8">
                        <input
                            class="form-control"
                            min="0"
                            name="circumferenceWaist"
                            ng-model="bfc.circumferenceWaist"
                            placeholder="0"
                            tabindex="3"
                            type="number"
                            />
                    </div>
                    <div class="col-sm-4">
                        <select
                            class="form-control"
                            name="circumferenceWaistSelect"
                            ng-model="bfc.circumferenceWaistSelect"
                            ng-options="selectOpt for selectOpt in bfc.selectOpts"
                            tabindex="4"
                        ></select>
                    </div>
                </div>
                <div class="clearfix form-group form-group-lg row">
                    <label class="col-sm-12 control-label" for="circumferenceNeck">Circumference (Neck):</label>
                    <div class="col-sm-8">
                        <input
                            class="form-control"
                            min="0"
                            name="circumferenceNeck"
                            ng-model="bfc.circumferenceNeck"
                            placeholder="0"
                            tabindex="5"
                            type="number"
                            />
                    </div>
                    <div class="col-sm-4">
                        <select
                            class="form-control"
                            name="circumferenceNeckSelect"
                            ng-model="bfc.circumferenceNeckSelect"
                            ng-options="selectOpt for selectOpt in bfc.selectOpts"
                            tabindex="6"
                        ></select>
                    </div>
                </div>
                <div class="clearfix form-group form-group-lg row">
                    <label class="col-sm-12 control-label" for="circumferenceHips">Circumference (Hips)<sup>†</sup>:</label>
                    <div class="col-sm-8">
                        <input
                            class="form-control"
                            min="0"
                            name="circumferenceHips"
                            ng-model="bfc.circumferenceHips"
                            placeholder="0"
                            tabindex="7"
                            type="number"
                            />
                        <p class="help-block"><sup>†</sup> Required for women, leave blank for men.</p>
                    </div>
                    <div class="col-sm-4">
                        <select
                            class="form-control"
                            name="circumferenceHipsSelect"
                            ng-model="bfc.circumferenceHipsSelect"
                            ng-options="selectOpt for selectOpt in bfc.selectOpts"
                            tabindex="8"
                        ></select>
                    </div>
                </div>
            </form>

            <hr>

            <div class="result">
                <p class="lead">Your estimated body fat is: <strong>{{ bfc.calculate() || 0 | number:0 }}%</strong></p>
            </div>
        </div>

    <!-- Footer scripts go here -->
    </body>
</html>
